.userPopoverContainer {
  position: relative;
  width: fit-content;
}

.welcomeBox {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.welcomeText {
  font-size: 32px;
  color: var(--blue);
  margin-bottom: 24px;
}

.welcomeName {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .userPanelBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .welcomeText {
    font-size: 36px;
    margin-bottom: 0;
  }
}
