.addWaterBtn {
  position: absolute;
  right: 16px;
  bottom: 32px;
  border: none;
  border-radius: 30px;
  padding: 14px 20px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--animation);
}

.plusIcon {
  stroke: var(--white);
  margin-right: 10px;
  transition: var(--animation);
}

.addWaterBtn:hover {
  color: var(--greenHover);
  .plusIcon {
    stroke: var(--greenHover);
  }
}

.smallAddWaterBtn {
  border: none;
  background-color: inherit;
  color: var(--blue);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.1px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusIconSmall {
  stroke: var(--blue);
  background-color: var(--green);
  border-radius: 15px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  padding: 4px;
  transition: var(--animation);
}

.smallAddWaterBtn:hover {
  .plusIconSmall {
    background-color: var(--blue);
    stroke: var(--white);
  }
}

@media screen and (min-width: 768px) {
  .addWaterBtn {
    right: 32px;
    bottom: 64px;
    padding: 18px 30px;
    font-size: 16px;
  }

  .plusIcon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
}
