.avatarBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  margin-bottom: 40px;
}

.userImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  /* border: 1px solid blue; */
}

.uploadBtn {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}
.text {
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #323f47;
}

.genderBox {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
  /* flex-direction: column; */
}

.radioLabel {
  /* position: relative; */
  display: flex;
  align-items: center;
}

.radioInput {
  accent-color: var(--blue);
  width: 20px;
  height: 20px;
}

.radioLabelText {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  height: 15px;
}

.labelText {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-bottom: 14px;
}

.labelBoldText {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--blue);
  margin-bottom: 14px;
}

.dataBox {
margin-bottom: 20px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.span {
  display: flex;
  margin-top: 8px;
  color: var(--green);
  font-weight: bold;
  margin-left: 4px;
  font-size: 16px;
}

.formInput {
  padding: 14px 16px;
  border-radius: 15px;
  outline: none;
  border: solid 1px;
  border-color: rgba(47, 47, 47, 0.15);
  background-color: inherit;
  color: var(--grey);
  font-size: 14px;
}

.formInput:focus {
  border-color: #2f2f2f99;
}

.explText {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  padding: 16px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #828282;
  margin-bottom: 14px;
}

.errorMessage {
  top: 80px;
  position: absolute;
  color: var(--red);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
}

.errorMessageRadio {
  
  margin-left: 8px;
  color: var(--red);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
}

.formBtn {
  margin-top: 24px;
  width: 100%;
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  padding: 16px;
  border-radius: 30px;

  transition: var(--animation);
}

.formBtn:hover {
  background-color: var(--greenHover);
}

.exclamation {
  color: var(--green);
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 16px;
  }

  .radioLabelText {
    font-size: 17px;
  }
  
  .errorMessageRadio {
    font-size: 17px;
  }

  .labelText {
    font-size: 17px;
  }


  .labelBoldText {
    font-size: 17px;
  }

  .errorMessage {
    top: 92px;
    font-size: 17px;
  }

  .formInput {
    padding: 18px;
    font-size: 17px;
  }

  .span {
    color: var(--green);
    font-weight: bold;
    margin-left: 4px;
    font-size: 17px;
  }

  .genderInfoBox {
    display: flex;
    gap: 28px;
  }

  .explText {
    font-size: 17px;
  }

  .exclamation {
    font-size: 17px;
  }

  .formBtn {
    width: 141px;
    padding: 18px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .flexBox {
    display: flex;
    gap: 40px;
  }

  .dataBox {
    width: 400px;
  }

  .genderInfoBox {
    display: flex;
    gap: 14px;
  }

  .addInfoBox {
    padding-top: 75px;
  }
}
