.userPopoverBox {
  
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 128px;
  gap: 8px;
  width: 100%;
  background-color: var(--white);
  padding: 14px 20px;
  border-radius: 15px;
  margin-top: 4px;

  left: 100%;
  transform: translate(-100%, -0%);
}

.userPopoverBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.1px;
  color: rgba(47, 47, 47, 0.6);
  background-color: inherit;
  border: none;
}

.icon {
  stroke: rgba(47, 47, 47, 0.6);
}

.userPopoverBtn:hover {
  color: var(--blue);
}

.userPopoverBtn:hover .icon {
  stroke: var(--blue);
}


@media screen and (min-width: 768px) {


    
}