.calendarList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .calendarList {
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
  }
}
