.advantagesSection {
  height: 353px;
  border-radius: 30px;

  background-image: url(../../../assets/img/HomePageGirl-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.group {
  position: absolute;
  bottom: 32px;
  right: 16px;
  display: flex;
  justify-content: flex-end;
}

.advantagesGroup {
  max-width: 168px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.textAdvantage {
  display: flex;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.textAdvantage:nth-child(2) {
  background: var(--greenHover);
  width: 83px;
}

.textAdvantage:nth-child(1) {
  background: var(--blue);
  width: 81px;
  gap: 4px;
}

.textAdvantage:nth-child(3) {
  background: var(--white);
  width: 108px;
}

.circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--green);
}

.text {
  color: var(--white);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}

.textBlack {
  color: var(--blue);
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.08px;
}

.customersBox {
  position: absolute;
  left: 16px;
  bottom: 94px;
  display: flex;
  padding: 10px 14px;
  background-color: var(--white);
  border-radius: 30px;
}

.customersList {
  position: relative;
  display: flex;
}

.customersItem {
  position: absolute;
  
}

.customersItem:last-child {
  left: 40px;
}

.customersItem:nth-child(2) {
  left: 20px;
  z-index: 998;
}

.customersItem:first-child {
  z-index: 999;
}

.customersImg {
  outline: 2px solid var(--white);
  width: 26.4px;
  border-radius: 50%;
}

.customersText {
  margin-left: 70px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: var(--blue);
}
.span {
  color: var(--greenHover);
}
@media only screen and (min-resolution: 192dpi) {
  .advantagesSection {
    background-image: url(../../../assets/img/HomePageGirl2x-min.png);
  }
}

@media screen and (min-width: 768px) {
  .advantagesSection {
    height: 446px;
    width: 704px;
  }
  .group {
    position: absolute;
    right: 32px;
    height: 78px;
  }

  .advantagesGroup {
    gap: 10px;
    max-width: 242px;
    height: 78px;
  }

  .textAdvantage {
    font-size: 12px;
    height: 34px;
    padding: 11px 16px;
  }

  .textAdvantage:nth-child(2) {
    width: 121px;
  }

  .textAdvantage:nth-child(1) {
    width: 111px;
    gap: 4px;
  }

  .textAdvantage:nth-child(3) {
    width: 158px;
  }

  .text {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.12px;
  }

  .textBlack {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.12px;
  }

  .customersBox {
    height: 67px;
    
    padding: 10px 14px;
    left: 32px;
    bottom: 104px;
  }

  .customersItem:last-child {
    left: 64px;
  }
  
  .customersItem:nth-child(2) {
    left: 32px;
    z-index: 998;
  }
  
  .customersImg {
    outline: 3px solid var(--white);
    width: 47px;
  }
  

  .customersText {
   /* padding-top: 10px; */
   padding-top: 2px;
    margin-left: 116px;
    font-size: 15px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .advantagesSection {
    height: 736px;
    width: 672px;
  }
  .group {
    bottom: 64px;
  }
  
  .customersBox {
    bottom: 134px;
  }
}
