.waterInfoBox {
  position: relative;
  border-radius: 30px;
  background-color: var(--green);
  width: 343px;
  height: 415px;
  background-image: url(../../../assets/img/bottle-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(75%);
}

@media screen and (min-width: 768px) {
  .waterInfoBox {
    width: 704px;
    min-height: 578px;
    background-size: calc(58%);
  }
}

@media screen and (min-width: 1440px) {
  .waterInfoBox {
    width: 672px;
    height: 736px;
    background-size: calc(75%);
  }
}
