.paginationBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 168px;
}

.arrowBtn {
    width: 18px;
    height: 18px;
    border: none;
    padding: 0;
    border-color: inherit;
    cursor: pointer;
  
}

.text {
    color: var(--blue);
    font-size: 14px;
    font-weight: bold;
}

.icon {
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 768px) {

    .text {
   
    font-size: 18px;
 
}
}