.monthInfoBox {
    margin-top: 40px;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
   padding-right: 30px;
}

.CalendarPaginationBox {
  
    /* display: flex;
    align-items: center;
    gap: 16px; */
}



.title {
    color: var(--blue);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
   .CalendarPaginationBox {
    gap: 20px;
   }

   .title {
    font-size: 28px;
   }
}

@media screen and (min-width: 1440px) {
 
}

