.formBox {
  min-height: 672px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cream);
  border-radius: 30px;
}

.formTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
  color: var(--blue);
  margin-bottom: 32px;
  justify-content: flex-start;
}

.form {
  width: 311px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.labelText {
  color: var(--grey);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.formInput {
  padding: 16px;
  border-radius: 15px;
  outline: none;
  border: solid 1px;
  border-color: #2f2f2f33;
  background-color: var(--cream);
  color: var(--grey);
  font-size: 14px;
}

.formInput:focus {
  border-color: #2f2f2f99;
}

.formBtn {
  width: 100%;
  color: var(--blue);
  font-weight: 700;
  font-size: 14px;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  padding: 16px;
  border-radius: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  transition: var(--animation);
}

.formBtn:hover {
  background-color: var(--greenHover);
}

.GoogleBtn {
  width: 311px;
  color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  background-color: var(--cream);
  border: none;
  cursor: pointer;
  padding: 11px 16px;
  border-radius: 30px;
  margin-top: 8px;
  transition: var(--animation);
  border: 1px solid #2f2f2f33;
}

.GoogleBtn:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #2f2f2f7a;
  width: 311px;
}

.line::before,
.line::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #2f2f2f33;
}

.line::before {
  margin-right: 10px;
}

.line::after {
  margin-left: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

.iconBtn {
  position: absolute;
  top: 36px;
  right: 22px;
  width: 20px;
  border: none;
}

.redirectText {
  font-size: 14px;
  font-weight: 400;
  color: rgba(47, 47, 47, 0.5);
}

.redirectLink {
  font-size: 14px;
  font-weight: 700;
  color: var(--grey);
}

.errorMessage {
  position: absolute;
  top: 82px;
  color: var(--red);
  font-size: 0.875em;
  font-size: 14px;
}

.forgotLink {
  text-decoration: none;
  color: var(--grey);
  font-weight: 700;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .form {
    width: 436px;
  }

  .labelText {
    font-size: 16px;
  }

  .forgotLink {
    font-size: 16px;
  }

  .formInput {
    font-size: 16px;
  }
  .formBtn {
    font-size: 16px;
  }

  .GoogleBtn {
    font-size: 16px;
    width: 436px;
  }
  .line {
    width: 436px;
    font-size: 16px;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
  .redirectText {
    font-size: 16px;
  }
  .redirectLink {
    font-size: 16px;
  }

  .iconBtn {
    top: 39px;
    right: 22px;
    cursor: pointer;
  }

  .errorMessage {
    font-size: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .formBox {
    width: 672px;
    height: 736px;
  }
}
