@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("./reset.css");

:root {
  --grey: #2f2f2f;
  --blue: #323f47;
  --green: #9be1a0;
  --greenHover: #87d28d;
  --cream: #f0eff4;
  --white: #ffffff;
  --red: #ef5050;
  /* Animation */
  --animation: 150ms ease-in;

  
  color: var(--blue);
  background-color: var(--white);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  max-width: 1440px;
  margin: auto;

}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
}