.item {
  /* margin-bottom: 12px; */
  position: relative;
}

.button {
  position: relative;
  color:  rgba(15, 9, 47, 0.756);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background: #93939328;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  bottom: 0; /* Починаємо знизу кнопки */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 136, 255, 0.141); /* Напівпрозорий колір води */
  z-index: 0; /* Градієнт під текстом */
  transition: height 0.5s ease; /* Анімація при зміні прогресу */
  height: var(--progress-height, 0);
 
}

.button[data-progress="0"]::before {
  height: 0;
}

.button > * {
  position: relative;
  z-index: 3; /* Текст повинен бути над градієнтом */
}
.isToday {
  background-color: var(--blue);
  color: var(--greenHover);
  border: 3px solid var(--white);
  
}

.isSelected {
  border: 3px solid var(--blue);
  background-color: var(--cream);
  color: var(--blue);
  

}

.isInFuture {
  background-color: #dddddd;
  color: #c0c0c0;
  pointer-events: none;
}

.text {
  position: absolute;
  top: 32px;
  left: 5px;
  font-size: 9px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 62px;
    height: 62px;
    margin-bottom: 6px;
    font-size: 20px;
  }

  .item {
    margin-bottom: 0px;
  }

  .text {
    top: 61px;
    left: 19px;
    font-size: 13px;
  }
}
