.item {
  margin-bottom: 12px;
  position: relative;
}

.button {
  color: var(--blue);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 30px;
  background: rgba(50, 63, 71, 0.2);
}



.isToday {
  background-color: var(--blue);
  color: var(--greenHover);
  
}

.isSelected {
  border: 3px solid var(--blue);
  background-color: var(--cream);
  color: var(--blue);
  
}

.text {
  position: absolute;
  top: 32px;
  left: 5px;
  font-size: 9px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 38px;
    height: 38px;
    font-size: 16px;
  }

  .item {
    margin-bottom: 0px;
  }

  .text {
    top: 44px;
    left: 8px;
    font-size: 12px;
  }
}
